body {
  font-size: 17px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

input {
  outline: none;
  padding: 7px 17px;
  font-size: inherit;
  border: 1px solid #ccc;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Global Classes
.btn {
  outline: none;
  border: none;
  padding: 7px 17px;
  text-align: center;
}

.btn-red {
  background: $primary-red;
  border-radius: 3px;
  font-size: 1em;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.flex {
  display: flex !important;
}

.flex-between {
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: $large-screen) {
  h1 {
    font-size: 3.2em;
  }
}

@media screen and (max-width: $medium-screen) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: $small-screen) {
  h1 {
    font-size: 1.7em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 1.1em;
  }

  h5 {
    font-size: 1.1em;
  }

  .btn {
    padding: 5px 8px;
    font-size: 0.9em;
  }
}
