.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5em;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  &__logo {
    width: 190px;

    img {
      object-fit: contain;
      width: 100%;
    }
  }
}

@media screen and (max-width: $large-screen) {
  .navbar {
    &__logo {
      width: 150px;
    }
  }
}

@media screen and (max-width: $small-screen) {
  .navbar {
    padding: 1rem 1.5rem;
    &__logo {
      width: 110px;
    }
  }
}
