@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import 'variables';
@import 'global';
@import 'navbar';

@import 'languageSelect';

// Login Home Screen
@import './LoginHomeScreen/loginHomeScreen';
@import './LoginHomeScreen/showcase';
@import './LoginHomeScreen/storyCard';
@import './LoginHomeScreen/faq';
@import './LoginHomeScreen/getStartedInput';
@import 'darkfooter';

// Sign In
@import './SignIn/signInBody';
@import './SignIn/signInNav';
@import './SignIn/signInForm';
@import './SignIn/signInFooter';

// Sign Up
@import 'lightNavbar';
@import 'signup';

@import 'lightfooter';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  position: relative;
}
