@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import 'variables';
@import 'global';
@import 'navbar';

@import './LoginHomeScreen/loginHomeScreen';
@import './LoginHomeScreen/showcase';
@import './LoginHomeScreen/storyCard';
@import './LoginHomeScreen/faq';
@import './LoginHomeScreen/getStartedInput';
@import 'darkfooter';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  position: relative;
}
