@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-size: 17px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

input {
  outline: none;
  padding: 7px 17px;
  font-size: inherit;
  border: 1px solid #ccc;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn {
  outline: none;
  border: none;
  padding: 7px 17px;
  text-align: center;
}

.btn-red {
  background: #e50914;
  border-radius: 3px;
  font-size: 1em;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.flex {
  display: flex !important;
}

.flex-between {
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1340px) {
  h1 {
    font-size: 3.2em;
  }
}

@media screen and (max-width: 950px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.1em;
  }
  h4 {
    font-size: 1.1em;
  }
  h5 {
    font-size: 1.1em;
  }
  .btn {
    padding: 5px 8px;
    font-size: 0.9em;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2.5em;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar__logo {
  width: 190px;
  cursor: pointer;
}

.navbar__logo img {
  object-fit: contain;
  width: 100%;
}

@media screen and (max-width: 1340px) {
  .navbar__logo {
    width: 150px;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 0.5rem 1rem;
  }
  .navbar__logo {
    width: 110px;
  }
}

.language-select {
  outline: 0;
  margin: 1.3em 0;
  padding: 1.2rem 16px;
  border-radius: 2px;
  outline: none;
  appearance: none;
  font-size: 16px;
  color: #757575;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M5 8l4 4 4-4z" fill="grey"/></svg>'), transparent;
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 1.8rem;
  min-width: 115px;
}

.language-select option {
  background: transparent;
}

.language-select-dark {
  border: 1px solid #757575;
}

.language-select-dark option {
  background: black;
}

.language-select-dark:focus {
  border: 1px solid #fff;
}

.language-select-white:focus {
  border: 1px solid #333;
}

.loginHomeScreen {
  background-color: black;
}

.loginHomeScreen__showcase {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8) 70%), url("https://assets.nflxext.com/ffe/siteui/vlv3/538717c0-f271-40e9-a99e-b07f9c521322/4a9270dc-7a97-44da-bda4-4dfc2dd4ea20/IN-en-20210201-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
  border-bottom: 0.6rem solid #222;
  text-align: center;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginHomeScreen__showcase .showcase__text {
  max-width: 1000px;
  margin: 0 auto;
  line-height: 0em;
}

.loginHomeScreen__showcase .showcase__text h1 {
  font-weight: 600;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  line-height: 3.7rem;
}

@media screen and (max-width: 950px) {
  .loginHomeScreen__showcase {
    padding: 1.3em;
  }
}

@media screen and (max-width: 550px) {
  .loginHomeScreen__showcase {
    height: 80vh;
    padding: 0.5em;
    padding-top: 100px !important;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 99%), url("https://assets.nflxext.com/ffe/siteui/vlv3/538717c0-f271-40e9-a99e-b07f9c521322/4a9270dc-7a97-44da-bda4-4dfc2dd4ea20/IN-en-20210201-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-position: center center;
    background-size: cover;
  }
  .loginHomeScreen__showcase h1 {
    line-height: 1em !important;
    margin-bottom: 30px !important;
  }
}

.story-card {
  color: #fff;
  margin: 0 auto;
  gap: 1em;
  height: 500px;
  border-bottom: 0.5rem solid #222;
  align-items: center;
}

.story-card__text {
  grid-column: 2/6;
}

.story-card__text h2 {
  font-weight: 600;
  flex: 0.5;
}

.story-card__img {
  grid-column: 6/9;
  position: relative;
}

.story-card__img img {
  width: 100%;
  position: relative;
  z-index: 3;
}

.story-card__video-1 {
  display: block;
  width: 97%;
  position: absolute;
  top: 11%;
  left: 1%;
  transform: scale(0.75);
}

.story-card__video-2 {
  position: absolute;
  top: 8%;
  left: 18%;
  width: 62%;
}

.story-card-reverse .story-card__img {
  grid-column: 2/5;
  grid-row: 1;
}

.story-card-reverse .story-card__text {
  grid-column: 5/9;
}

@media screen and (max-width: 950px) {
  .story-card {
    gap: 0;
    height: auto;
    padding: 4em 0;
  }
  .story-card__text {
    grid-column: 2 / 9;
    text-align: center;
  }
  .story-card__img {
    grid-column: 3/8;
    grid-row: 2;
  }
  .story-card-reverse .story-card__text {
    grid-column: 2/9;
    grid-row: 1;
  }
  .story-card-reverse .story-card__img {
    grid-column: 3/8;
    grid-row: 2;
  }
}

@media screen and (max-width: 950px) {
  .story-card__text h2,
  .story-card__text h4 {
    margin: 0 0 !important;
  }
  .story-card__text h2 {
    margin-bottom: 15px !important;
  }
  .story-card__img {
    grid-column: 2/9;
    grid-row: 2;
  }
}

@media screen and (max-width: 550px) {
  .story-card-reverse .story-card__img {
    grid-column: 2/9;
  }
}

.faq {
  color: #fff;
  width: 100%;
  margin: 0 auto;
  padding-top: 2.4em;
  padding-bottom: 5em;
  border-bottom: 0.5rem solid #222;
}

.faq h2 {
  text-align: center;
  font-weight: 500;
}

.faq-collapse {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.faq-collapse:last-child {
  margin-bottom: 4rem;
}

.faq-collapse__question, .faq-collapse__ans {
  background-color: #303030;
  font-size: 1.5em;
}

.faq-collapse__question {
  margin: 0;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 25px;
}

.faq-collapse__question .sign {
  font-size: 1.3em;
  font-weight: 300;
}

.faq-collapse__ans {
  max-height: 0px;
  overflow: hidden;
  transition-property: padding, max-height, opacity;
  transition-duration: 0.2s, 0.3s, 0.2s;
  padding: 0 25px;
}

.faq .get-started-input {
  padding: 0 2.5em;
}

.faq .open .faq-collapse__ans {
  max-height: 700px;
  padding: 18px 25px;
}

@media screen and (max-width: 950px) {
  .faq-collapse__question, .faq-collapse__ans {
    font-size: 1.2em;
  }
  .faq-collapse__question {
    padding: 14px 20px;
  }
}

@media screen and (max-width: 550px) {
  .faq-collapse {
    width: 100%;
  }
  .faq-collapse__question, .faq-collapse__ans {
    font-size: 1.1em;
  }
  .get-started-input {
    padding: 0 1.7em !important;
  }
}

.get-started-input {
  text-align: center;
}

.get-started-input h5 {
  margin: 14px;
  margin-bottom: 20px;
}

.get-started-input .input-container {
  display: inline-flex;
  width: 100%;
  margin: 0 auto !important;
  max-width: 700px;
}

.get-started-input .input-container input,
.get-started-input .input-container a {
  display: block;
  padding: 1rem 1.1em;
}

.get-started-input .input-container a {
  font-size: 1.7em;
}

.get-started-input .input-container a:hover {
  background-color: #f72a35;
}

.get-started-input .input-container input {
  flex: 1;
}

@media screen and (max-width: 1340px) {
  .get-started-input .input-container {
    display: block;
  }
  .get-started-input .input-container a {
    display: inline-block;
    margin-top: 10px;
  }
  .get-started-input .input-container input {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .get-started-input {
    max-width: 100%;
    margin: 0 auto;
  }
  .get-started-input .input-container a {
    font-size: 1rem;
    padding: 12px 16px;
  }
}

@media screen and (max-width: 550px) {
  .get-started-input {
    padding: 0 !important;
  }
  .get-started-input .input-container {
    max-width: 90% !important;
  }
}

.dark-footer {
  color: #757575;
  padding: 4em 0;
}

.dark-footer header {
  grid-column: 3 / span 10;
  margin-bottom: 2em;
}

.dark-footer a {
  color: #757575;
}

.dark-footer a:hover {
  text-decoration: underline;
}

.dark-footer ul {
  grid-row: 2;
  font-size: 14px;
}

.dark-footer ul li {
  margin-bottom: 13px;
}

.dark-footer__links-1 {
  grid-column: 3 / span 2;
}

.dark-footer__links-2 {
  grid-column: 5 / span 2;
}

.dark-footer__links-3 {
  grid-column: 7 / span 2;
}

.dark-footer__links-4 {
  grid-column: 9 / span 2;
}

.dark-footer .medium-screen-link {
  display: none;
}

.dark-footer .language-select {
  grid-row: 3;
  grid-column: 3;
}

.dark-footer small {
  grid-row: 4;
  grid-column: 3 / span 5;
}

@media screen and (max-width: 950px) {
  .dark-footer__links-1 {
    grid-column: 3 / span 3;
  }
  .dark-footer__links-2 {
    grid-column: 5 / span 3;
  }
  .dark-footer__links-3 {
    grid-column: 8 / span 3;
  }
  .dark-footer__links-4 {
    display: none;
  }
  .dark-footer .medium-screen-link {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .dark-footer {
    padding: 3.5em 1.7em;
  }
  .dark-footer header {
    grid-column: 2 / span 10;
  }
  .dark-footer .medium-screen-link {
    display: none;
  }
  .dark-footer ul li {
    font-size: 14px;
  }
  .dark-footer__links-1 {
    grid-column: 2 / span 4;
  }
  .dark-footer__links-2 {
    grid-column: 6 / span 6;
  }
  .dark-footer__links-3 {
    grid-column: 2 / span 4;
    grid-row: 3 !important;
  }
  .dark-footer__links-4 {
    display: block;
    grid-column: 6 / span 6;
    grid-row: 3 !important;
  }
  .dark-footer .language-select {
    grid-column: 2;
    grid-row: 4;
  }
  .dark-footer small {
    grid-column: 2;
    grid-row: 5;
  }
}

.signin {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://assets.nflxext.com/ffe/siteui/vlv3/538717c0-f271-40e9-a99e-b07f9c521322/4a9270dc-7a97-44da-bda4-4dfc2dd4ea20/IN-en-20210201-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: 130%;
  overflow: hidden;
}

@media screen and (max-width: 730px) {
  .signin {
    background: black;
  }
}

.signin .navbar img {
  min-width: 180px;
}

.signin .navbar .sign-in-btn {
  display: none;
}

@media screen and (max-width: 730px) {
  .navbar {
    padding: 0.3rem 1rem;
  }
}

.signin-form {
  width: 450px;
  min-height: 600px;
  margin: 5.5rem auto;
  color: #b3b3b3;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem 4rem;
}

.signin-form > * {
  display: block;
  width: 100%;
}

.signin-form h3 {
  font-weight: 500;
  color: #fff;
}

.signin-form #emailOrPhone,
.signin-form #password {
  background: #333;
  border: none;
  padding: 1rem 1rem;
  margin-bottom: 13px;
  border-radius: 6px;
  color: #fff;
}

.signin-form button[type='submit'] {
  margin-top: 1.5rem;
  padding: 0.9rem 0;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.signin-form div {
  font-size: 0.8rem;
}

.signin-form div a {
  color: #b3b3b3;
}

.signin-form section {
  margin-top: 3rem;
  font-weight: 300;
}

.signin-form section span.signup {
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.signin-form section span.signup:hover {
  text-decoration: underline;
}

@media screen and (max-width: 730px) {
  .signin-form {
    max-width: 100%;
    width: 100%;
    margin: 0;
    margin-top: 7rem;
    padding: 0 2rem;
    min-height: 500px;
  }
}

.signin-footer {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 3rem 0;
}

.signin-footer header,
.signin-footer a {
  color: #757575;
}

.signin-footer a:hover {
  text-decoration: underline;
}

.signin-footer header {
  grid-column: 3 / span 10;
  margin-bottom: 1.5rem;
}

.signin-footer li {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.signin-footer__links-1 {
  grid-column: 3 / span 2;
}

.signin-footer__links-2 {
  grid-column: 5 / span 2;
}

.signin-footer__links-3 {
  grid-column: 7 / span 2;
}

.signin-footer__links-4 {
  grid-column: 9 / span 2;
}

.signin-footer .language-select {
  grid-row: 3;
  grid-column: 3;
}

.signin-footer .medium-screen-link {
  display: none;
}

@media screen and (max-width: 730px) {
  .signin-footer {
    border-top: 2px solid #222;
  }
  .signin-footer header {
    grid-column: 2 / span 10;
  }
  .signin-footer__links-1 {
    grid-column: 2 / span 3;
  }
  .signin-footer__links-2 {
    grid-column: 5 / span 3;
  }
  .signin-footer__links-3 {
    grid-column: 9 / span 3;
  }
  .signin-footer__links-4 {
    display: none;
  }
  .signin-footer .language-select {
    grid-column: 2;
  }
  .signin-footer .small-screen-link {
    display: none;
  }
  .signin-footer .medium-screen-link {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .signin-footer__links-1 {
    grid-column: 2 / span 4;
  }
  .signin-footer__links-2 {
    grid-column: 6 / span 6;
  }
  .signin-footer__links-3 {
    display: none;
  }
  .signin-footer .small-screen-link {
    display: block;
  }
  .signin-footer .medium-screen-link {
    display: none;
  }
}

.light-navbar {
  overflow: hidden;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2em;
  border-bottom: 1px solid #e6e6e6;
}

.light-navbar img {
  width: 195px;
  object-fit: contain;
  cursor: pointer;
}

.light-navbar a {
  padding-right: 1.5em;
  font-weight: 500;
  font-size: 1.2rem;
  color: #333;
}

.light-navbar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .light-navbar {
    padding: 10px;
    height: 50px;
  }
  .light-navbar img {
    width: 100px;
  }
  .light-navbar a {
    padding: 0;
    font-size: 1rem;
  }
}

.signup__see-plan-container {
  width: 340px;
  margin: 7rem auto;
  line-height: 1.7em;
  margin-bottom: 12em;
}

.signup__see-plan-container > * {
  display: block;
}

.signup__see-plan-container i,
.signup__see-plan-container header,
.signup__see-plan-container small {
  text-align: center;
}

.signup__see-plan-container i {
  color: #e50914;
  font-size: 3rem;
  margin-bottom: 20px;
}

.signup__see-plan-container header {
  font-weight: 600;
  font-size: 1.5em;
}

.signup__see-plan-container ul {
  margin: 1.4rem 0;
}

.signup__see-plan-container ul li {
  margin-bottom: 1rem;
  background: url("/icons/checkmark.png") no-repeat;
  background-size: 20px auto;
  background-position: 0 center;
  padding-left: 2rem;
}

.signup__see-plan-container .see-plan-submit {
  margin-top: 2.4rem;
  width: 100%;
  padding: 0.7em 0;
  cursor: pointer;
}

.signup__see-plan-container .see-plan-submit:hover {
  background-color: #f6121d;
}

@media screen and (max-width: 550px) {
  .signup__see-plan-container header,
  .signup__see-plan-container i,
  .signup__see-plan-container small {
    text-align: left;
  }
}

.light-footer {
  padding: 2em 0;
  background-color: #f3f3f3;
}

.light-footer a,
.light-footer header {
  color: #757575;
}

.light-footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.light-footer header {
  grid-column: 2 / span 8;
  margin-bottom: 2em;
}

.light-footer ul {
  grid-row: 2;
  font-size: 0.9rem;
}

.light-footer ul li {
  margin-bottom: 0.9rem;
}

.light-footer__links-1 {
  grid-column: 2 / span 2;
}

.light-footer__links-2 {
  grid-column: 4 / span 3;
}

.light-footer__links-3 {
  grid-column: 7 / span 2;
}

.light-footer__links-4 {
  grid-column: 9 / span 2;
}

.light-footer .small-screen-link,
.light-footer .medium-screen-link {
  display: none;
}

.light-footer .language-select {
  grid-row: 3;
  grid-column: 2;
}

@media screen and (max-width: 950px) {
  .light-footer .medium-screen-link {
    display: block;
  }
  .light-footer__links-1 {
    grid-column: 2 / 5;
  }
  .light-footer__links-2 {
    grid-column: 5 / 8;
  }
  .light-footer__links-3 {
    grid-column: 9 / 11;
  }
  .light-footer__links-4 {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .light-footer .medium-screen-link {
    display: none;
  }
  .light-footer .small-screen-link {
    display: block;
  }
  .light-footer__links-1 {
    grid-column: 2 / 6;
  }
  .light-footer__links-2 {
    grid-column: 6 / 12;
  }
  .light-footer__links-3 {
    display: none;
  }
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  position: relative;
}
