.signin {
  // height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://assets.nflxext.com/ffe/siteui/vlv3/538717c0-f271-40e9-a99e-b07f9c521322/4a9270dc-7a97-44da-bda4-4dfc2dd4ea20/IN-en-20210201-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  background-size: 130%;
  overflow: hidden;
  // background-position: center center;
}

@media screen and (max-width: 730px) {
  .signin {
    background: black;
  }
}
