.get-started-input {
  text-align: center;
  h5 {
    margin: 14px;
    margin-bottom: 20px;
  }

  .finish-sign-up {
    display: block;
    font-size: 2em;
    padding: 1.3rem 1.2rem;
    min-width: 200px;
    max-width: 300px;
    margin: 0.8em auto;

    &:hover {
      background-color: lighten($primary-red, 10%);
    }
  }

  .input-container {
    display: inline-flex;
    width: 100%;
    margin: 0 auto !important;
    max-width: 700px;

    input,
    a {
      display: block;
      padding: 1rem 1.1em;
    }

    a {
      font-size: 1.7em;
    }

    a:hover {
      background-color: lighten($primary-red, 10%);
    }

    input {
      flex: 1;
    }
  }
}

@media screen and (max-width: $large-screen) {
  .get-started-input {
    .input-container {
      display: block;

      a {
        display: inline-block;
        margin-top: 10px;
      }

      input {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $medium-screen) {
  .get-started-input {
    max-width: 100%;
    margin: 0 auto;
    .input-container {
      a {
        font-size: 1rem;
        padding: 12px 16px;
      }
    }
  }
}

@media screen and (max-width: $small-screen) {
  .get-started-input {
    padding: 0 !important;

    .input-container {
      max-width: 90% !important;
    }

    .finish-sign-up {
      font-size: 1.3em;
      padding: 0.7em 1em;
      width: 210px;
    }
  }
}
